/*horizontally & vertically centering counter on page:*/
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/*creating the counter's main containers:*/
.counter-housing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  background-color: #696969;
  border-radius: 20px;
  padding: 40px;
}
.display-panel {
  display: flex;
  gap: 40px;
  background-color: #000;
  padding: 40px;
  border-width: 10px;
  border-style: inset;
  border-radius: 20px;
}
.buttons-panel {
  display: flex;
  justify-content: space-around;
  background-color: #696969;
  padding: 20px;
  border-width: 10px;
  border-style: inset;
  border-radius: 20px;
}
/*creating the seven-segment display:*/
.digit-container {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 14rem;
}
.digit-segments {
  height: 12rem;
  border-width: 20px;
  background-color: #000;
  border-color: #66ff66;
}
.upper-segments-zero {
  border-style: inset inset none;
  border-width: 40px 40px 20px;
}
.lower-segments-zero {
  border-style: none inset inset;
  border-width: 20px 40px 40px;
}
.upper-segments-one {
  border-style: none inset none none;
  border-width: 40px 40px 20px;
}
.lower-segments-one {
  border-style: none inset none none;
  border-width: 20px 40px 40px;
}
.upper-segments-two {
  border-style: inset inset inset none;
  border-width: 40px 40px 20px;
}
.lower-segments-two {
  border-style: inset none inset inset;
  border-width: 20px 40px 40px;
}
.upper-segments-three {
  border-style: inset inset inset none;
  border-width: 40px 40px 20px;
}
.lower-segments-three {
  border-style: inset inset inset none;
  border-width: 20px 40px 40px;
}
.upper-segments-four {
  border-style: none inset inset;
  border-width: 40px 40px 20px;
}
.lower-segments-four {
  border-style: inset inset none none;
  border-width: 20px 40px 40px;
}
.upper-segments-five {
  border-style: inset none inset inset;
  border-width: 40px 40px 20px;
}
.lower-segments-five {
  border-style: inset inset inset none;
  border-width: 20px 40px 40px;
}
.upper-segments-six {
  border-style: inset none inset inset;
  border-width: 40px 40px 20px;
}
.lower-segments-six {
  border-style: inset;
  border-width: 20px 40px 40px;
}
.upper-segments-seven {
  border-style: inset inset none none;
  border-width: 40px 40px 20px;
}
.lower-segments-seven {
  border-style: none inset none none;
  border-width: 20px 40px 40px;
}
.upper-segments-eight {
  border-style: inset;
  border-width: 40px 40px 20px;
}
.lower-segments-eight {
  border-style: inset;
  border-width: 20px 40px 40px;
}
.upper-segments-nine {
  border-style: inset;
  border-width: 40px 40px 20px;
}
.lower-segments-nine {
  border-style: inset inset inset none;
  border-width: 20px 40px 40px;
}
/* styling the buttons:*/
button {
  background-color: red;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  height: 4rem;
  border: 10px;
  border-style: outset;
  cursor: pointer;
}
.decrement {
  background-color: #ff3300;
  width: 4rem;
  border-radius: 100%;
  padding-bottom: 20px;
}
.decrement:hover {
  background-color: #cc0000;
}
.decrement:active {
  background-color: #990000;
}
.increment {
  background-color: #009933;
  width: 4rem;
  border-radius: 100%;
}
.increment:hover {
  background-color: #006622;
}
.increment:active {
  background-color: #004d1a
}

.reset:hover {
  background-color: #0033cc;
}
.reset:active {
  background-color: #002699;
}
.reset {
  background-color: #3366ff;
  width: 10rem;
  font-weight: lighter;;
  border-radius: 10px;
}
/*making app responsive for mobile devices: */
@media (max-width: 1024px) {
    .counter-housing {
    flex-direction: row;
    gap: 40px;
    }
    .display-panel {
    flex-direction: column;
    align-items: center;
    }
    .buttons-panel {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 120px;
    }
    .reset {
    transform: rotate(90deg);
    }
}
